* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(./wp6482514-money-heist-pc-wallpapers.jpg) no-repeat center /
    cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 2.8rem;
  letter-spacing: 5px;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
